<footer>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5">
                <div class="social-media" style="text-align: center;">
                    <h3 class="mat-body primary-color">Socail Media</h3>
                    <a href="#">
                        <button mat-button color="accent">
                            <i class="fa fa-facebook-f"></i>
                        </button>
                    </a>
                    <a href="#">
                        <button mat-button color="accent">
                            <i class="fa fa-linkedin"></i>
                        </button>
                    </a>
                    <a href="#">
                        <button mat-button color="accent">
                            <i class="fa fa-github"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <h3 class="mat-body primary-color">Submit Problem</h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group-element">
                        <label class="md-body-2 accent-color" for="email">Email</label>
                        <input id="email" type="email" formControlName="email" class="form-control" required email> 
                    </div>
                    <div class="form-group-element">
                        <label class="md-body-2 accent-color" for="message">Message</label>
                        <textarea  id="message" formControlName="message" class="form-control" cols="4" required></textarea>
                    </div>
                    <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Send</button>
                </form>
            </div>
        </div>
    </div>
    
</footer>
