<div class="row no-gutters project">
    <div class="col-md-12">
        <div class="row no-gutters">
            <div class="col-md-12" style="text-align: center;">
                <div class="d-inline-block" style="margin-right: 10px;" *ngFor="let img of images">
                    <img  src="{{img}}" alt="Project Photo" style="margin-bottom: 10vh;max-height: 40vh;" class="img-fluid rounded personal-image--about d-inline-block mx-auto">
                </div>
            </div>
        </div>
        
        <h1 class="accent-color mat-display-2 header--font">Project Name<h2 class="mat-display-1 primary-color paragraph--font">{{project.name}}</h2></h1>
        <h1 class="accent-color mat-display-2 header--font">Project Description<p class="mat-display-1 primary-color paragraph--font"> {{project.description}}  <a *ngIf="project.link" href="{{project.link}}">Link to project.</a></p> </h1>
    </div>
</div>