$my-dark-theme-primary: mat-palette($mat-blue-grey);
$my-dark-theme-accent: mat-palette($mat-amber, A100, A200, A400);
$my-dark-theme-warn: mat-palette($mat-deep-orange);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-dark-theme: mat-dark-theme(
    $my-dark-theme-primary,
    $my-dark-theme-accent,
    $my-dark-theme-warn
);